<!DOCTYPE html>

<html lang="en">

<head>
  <!--default parameters -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--stylesheets-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <!--Bootstrap CDN-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!--non-default parameters -->
  <title>{{ page_title }}</title>

</head>

<body>
  <div id="body" class=".container-fluid">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Flack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">People</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Channels</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form action="/logout" method='POST' class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>

    <!--Nav Bar End-->
    <div id="body-below" class="container my-3 pt-3 border ">
      <div class="row mb-3">
        <div class="col-md-6 themed-grid-col">

        </div>
        <div class="col-md-6 themed-grid-col">
          <div class="text-centered">
            <br>
          </div>
        </div>
      </div>
      <div class="text-centered" table=overview>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th><h2>People<h2></th>
              <th><h2>Channels<h2></th>
            </tr>
          </thead>
          <tbody>

            {% if 'list1' in larger %}

            {% for user in all_users %}

            <tr>
              <td><a href="/people/{{all_users[loop.index0]}}"> {{all_users[loop.index0]}} </a></td>
              <td><a href="/channels/{{all_channels[loop.index0]}}"> {{all_channels[loop.index0]}} </a></td>
            </tr>

            {%endfor%}
            {% else %}

            {% for channel in all_channels %}

            <tr>
              <td>{{all_users[loop.index0]}}</td>
              <td>{{all_channels[loop.index0]}}</td>
            </tr>
            {%endfor%}
            {% endif %}


            
        </table>
        
      </div>
      <form action="/channel_create" method='POST' class="">

        <input type="text" class="form-control" placeholder="Enter New Channel" name="new_channel_from_form" required="required">
        
        <br>
        
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Create New</button>

      </form>
      <br>
    </div>
    {% if javascript_alert is defined %}
    <script>alert("{{javascript_alert}}")</script>
    {%endif%}
</body>

</html>