<html lang="en"><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
        </script>
</head>
<body>
    
    <!--Sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

    <!--Page Content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-sucess" id="menu-toggle">Toggle Menu</a>
                    <h1>Sidebar Layouts</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit ad reiciendis quod deleniti ratione corporis, corrupti enim tempore exercitationem commodi omnis doloremque libero error, dolor aperiam? Provident alias beatae blanditiis.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Menu Toggle Script-->
            <script>
            $("menu-toggle").click( function (e) {
                e.preventDefault();
                $("$wrapper").toggleClass("menuDisplayed");
            });

            )
            </script>
    <div class="wrapper">
    </div>
</body></html>